html { -webkit-text-size-adjust:none; }

@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

*{
  box-sizing: border-box;
  transition: all 0.3s; 
  //transition: margin 0.3s; 
  //transition: opacity 0.3s;
 //transition: left 0.3s;
}

p{
font-size:86%;
color:#818181;
}

body{
	background-color:#ebebeb;
	margin:0px 0px 100px 0px;
	padding:0px;
	font-size:100%;
	color:#999;
	font-family: 'Arimo', sans-serif;
	text-align: center;
}

.curved8{
	border-radius:8px;
}

#logo{
  position:absolute;
  top:21px;
  left:35px;
  cursor: pointer;
}


li{
  color:#aaa;
  position:relative;
  margin: 0px 15px 0px 20px;
  font-size:80%;
  font-weight: bold;
  text-transform: lowercase;
  display:inline;
  line-height: 1.3;
}


li:hover{
  cursor: pointer;
  color:#777;
}

li:first-of-type{
	color:#777;
}

.triangleUp{
	width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #555;
    position: absolute;
    top: 22px;
    left: 0px;
	display:none;
}

li:nth-child(2) > .triangleUp{
	left:14px;
}
li:nth-child(3) > .triangleUp{
	left:25px;
}
li:nth-child(4) > .triangleUp{
	left:18px;
}
li:nth-child(5) > .triangleUp{
	left:17px;
}

span{
	font-size:120%;
}

div{
	position:relative;
	line-height: 0;
}

a{
	color:#aaa;
	position:relative;
	margin: 0px 0px 0px 0px;
	font-size:90%;
	text-transform: lowercase;
	display:block;
	line-height: 1.4;
	text-decoration: none;
	padding:0px;
}

a:hover{
	color:#000;
}

.bold
{
	font-weight:bold;
}

.spaceBelow{
	margin-bottom:15px;
}

.spaceAbove{
	margin-top:50px;
}

.inline{
	display:inline;	
}




#menu{
	position:relative;
	width:1035px;
	margin:35px auto 35px;
	text-align: right;
	background-color:#F5F5F5;
	padding:25px 15px;
	box-shadow: 1px 1px #ddd;
}


.container{
	width:1035px;
	background-color:#F5F5F5;
	margin:0px auto;
	display: inline-grid;
	padding:15px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	//grid-template-rows: 1fr 1fr 1fr;
	column-gap: 15px;
	row-gap: 15px;
	box-shadow: 1px 1px #ddd;
	opacity:1;
}

.container div::after{
	content:url(newIcon.png);
	position:absolute;
	top:-6px;
	left:-6px;
	animation-duration: 2s;
	//animation-name: shuffle;
	animation-iteration-count: infinite;
	//animation-direction: alternate;
	animation-timing-function: ease-in-out;
	border-radius:10px;
}

@keyframes shuffle {
	0%   {left:-8px;}
	50%   {left:-4px;}
	100%   {left:-8px;}
}

#nihon35link{
	width:fit-content;
	background-color:#F5F5F5;
	margin:20px auto 0px;
	padding:8px;
	box-shadow: 1px 1px #ddd;
	font-size:80%;
	cursor:pointer;
}

#nihon35link:hover{
	color:#cf0000;
}

.contact2{
	grid-template-columns: 1fr;
	width:400px;
	grid-template-rows: 1fr;
	background-color:#F5F5F5;
	margin:0px auto;
	padding:15px;
	box-shadow: 1px 1px #ddd;
	display:inline-grid;
}

.contact2 img{
	height:300px;
	width:100%;
	border-radius:6px;
	object-position:0px;
	object-fit:cover;

}


#places{
}

#nihon{
}

#auto{
}

#contact{
}

.grid-item{
	border-radius:4px;
	width:100%;
	height:155px;
	object-fit: cover;
	cursor: pointer;
	filter:grayscale(0.05);
}

.grid-item:hover{
	filter: opacity(80%);
}

.grid-item-blank{
    border-radius: 12px;
    width: 100%;
    height: 155px;
    object-fit: cover;
    border: 2px dashed #e9e9e9;
}

.bigimg{
	cursor: pointer;
	margin-bottom:30px;
	border-radius:5px;
}

.bigimg2{
	position:absolute;
	transition: left 0.3s;
	left:100%;
}

.left{
	left:0%;
}


#arrowRight{
	position:absolute;
	top:-21px;
	left:35px;
}

.imgCont{
	margin:0px auto;
	position:relative;
	width:fit-content;
	border-width:5px 5px 5px 5px;
	border-style:solid;
	border-color:#F5F5F5;;
	background-color:#F5F5F5;
	box-shadow: 1px 1px #ddd;
	overflow:hidden;
	white-space: nowrap;
}

.marginLeft-100{
  margin-left:-200%;
}

.left0{
  left:0%;
}


#imgNum{
	position: absolute;
    display: block;
    bottom: -1px;
    text-align: right;
    margin: 0px;
    font-size: 85%;
	line-height:normal;
	right:3px;
	vertical-align:middle;
	font-family:system-ui;
	font-weight:bold;
	color:#afafaf;
}

#triangle{
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
	top: -38px;
    left: -38px;
    border: 38px solid #f4f4f4;
    border-top: 38px solid transparent;
    border-right: 38px solid transparent;
    border-left: 38px solid transparent;
    transform: rotate(-45deg);
}

#svg{
    position: absolute;
    height: 30px;
    top: 6px;
    right: -16px;
    z-index: 2;
    opacity: 0.6;
    transform: rotate(-45deg);
}

.bigimg:hover ~ #triangle{
	opacity:1;

}

#copy{
	font-size:70%;
	margin-top:200px;
	color:#ababab;
}

.newIcon{
	position:absolute;
	top:-6px;
	left:-6px;
}

.lds-ring {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 40%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #d9d9d9 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.displayNone{
	display:none;
}

.opacityNone{
	opacity:0;
}


  /* The container */
.checkContainer {
	position: absolute;
	cursor: pointer;
	height:80px;
	right: 64px;
	bottom: -42px;
}
/* Hide the browser's default checkbox */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 45px;
  background-color: #eee;
  border-radius:15px;
  background-color: #aaa;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 20px;
  height: 20px;
  background-color:white;
  border-radius:10px;
  transition:left 0.3s;
}
/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
  //background-color: darkred;
}
/* Style the checkmark/indicator */
.checkContainer input:checked ~ .checkmark:after {
  left: 22px;
}



@media screen and (max-width: 1060px) {
	.container
	{
	 width:865px;
	 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	#menu
	{
	 width:865px;
	}

	.bigimg{
		max-width:865px;
	}
}

@media screen and (max-width: 1024px) {
	.bigimg{
		max-width:865px;
	}
}

@media screen and (max-width: 875px) {
  .container
  {
     width:695px;
     grid-template-columns:1fr 1fr 1fr 1fr;
  }
  #menu
  {
     width:695px;
  }
	.bigimg{
		max-width:695px;
	}
}

@media screen and (max-width: 700px) {
  .container
  {
     width:525px;
     grid-template-columns:1fr 1fr 1fr;
  }
  #menu
  {
     width:525px;
  }

	li{
		margin: 0px 8px 0px 15px;
	}
	.bigimg{
		max-width:525px;
	}
}

@media screen and (max-width: 535px) {
  .container
  {
     width:355px;
     grid-template-columns:1fr 1fr;
  }
  #menu
  {
     width:355px;
	 text-align:center;
  }

	li{
		margin: 0px 10px 0px 10px;
	}
	
	#logo{
		position: relative;
		display: block;
		left: 0px;
		top:0px;
		margin: 0px auto 20px;
		
	}
	.bigimg{
		max-width:355px;
	}
	.contact2{
		width:355px;
	}
}
