html { -webkit-text-size-adjust:none; }

*{
  box-sizing: border-box;
}

p{
font-size:86%;
color:#ababab;
}

body{
	background-color:#ebebeb;
	margin:0px;
	padding:0px;
	font-size:100%;
	color:#999;
	font-family: 'Arimo', sans-serif;
  text-align: center;
  //background: repeating-linear-gradient(
  45deg,
  #e8e8e8,
  #e8e8e8 10px,
  #e4e4e4 10px,
  #e4e4e4 20px)
}


#logo{
  position:absolute;
  top:21px;
  left:35px;
}


li{
  color:#aaa;
	position:relative;
  margin: 0px 15px 0px 12px;
  font-size:85%;
  font-weight: bold;
  text-transform: lowercase;
  //background-color:#f2f2f2;
  //padding:8px;
  //border-radius:6px;
  display:inline;
  line-height: 1.3;
}

li:hover{
  cursor: pointer;
  color:#555;
}

li:first-child{
  cursor: pointer;
  color:#777;
}

span{
	font-size:120%;
}

div{
	position:relative;
}


a{
  color:#aaa;
  position:relative;
  margin: 0px 0px 0px 0px;
  font-size:90%;
  text-transform: lowercase;
  display:block;
  line-height: 1.4;
  text-decoration: none;
  padding:0px;
}

.bold
{
	font-weight:bold;
}

.spaceBelow{
margin-bottom:15px;
}

.spaceAbove{
margin-top:50px;
}

.inline{
display:inline;	
}

#contactimg{
	 height:155px;
	 width:155px;
	 object-fit: cover;
	 margin:80px auto 20px;
	 border-radius:5px;
}


#menu{
  position:relative;
  width:1035px;
  margin:35px auto 35px;
  text-align: right;
  background-color:#F5F5F5;
  padding:25px 15px;
  border-radius:8px;
  box-shadow: 1px 1px #ddd;
}




.container{
  width:1035px;
  background-color:#F5F5F5;
  border-radius:8px;
  margin:0px auto;
  display: inline-grid;
  padding:15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
 //grid-template-rows: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
  box-shadow: 1px 1px #ddd;
}


.contact2{
  grid-template-columns: 1fr;
  width:400px;
  display:block;
  grid-template-rows: 1fr;

  background-color:#F5F5F5;
  border-radius:8px;
  margin:0px auto;

  padding:15px;

  box-shadow: 1px 1px #ddd;
}



#places{
  display: inline-grid;
}

#nihon{
  display: none;
}

#auto{
  display: none;
}

#contact{
  display: none;
}

.grid-item{
  //background-color:#fff;
  border-radius:4px;
  //padding:4%;
  width:100%;
  height:155px;
  object-fit: cover;
  //box-shadow: 1px 1px #ddd;
  //filter: grayscale(0%);
  //filter: sepia(20%);
  filter: opacity(100%);
  cursor: pointer;
}

.grid-item:hover{

   filter: opacity(80%);
}

.grid-item-blank{
  background-color:#F5F5F5;
  border-radius:5px;
  width:100%;
  border-style: dashed;
  border-color: #ddd;
  border-width: 2px;
}



#bigimg{
  
  padding:5px 5px 60px 5px;
  background-color:#F5F5F5;
  cursor: pointer;
  margin:0px auto;
  border-radius:5px;
  display:none;
  box-shadow: 1px 1px #ddd;
}

#bigimg2{
  padding:0px 5px 60px 5px;
  background-color:#F5F5F5;
  cursor: pointer;
  margin:0px auto 0px auto;
  border-radius:0px 0px 5px 5px;
  display:none;
  box-shadow: 1px 1px #ddd;
}

#arrowRight{
  position:absolute;
  top:-21px;
  left:35px;
}

#imgCont{
display:block;
max-width:1024px;
margin:0px auto;
position:relative;
}

#imgNum{
	position: absolute;
    display: block;
    bottom: 10px;
    text-align: left;
    margin-left: 20px;
    font-size: 80%;
}

#copy{
font-size:70%;
margin-top:200px;
color:#ababab;
}



@media screen and (max-width: 1060px) {
  .container
  {
     width:865px;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  #menu
  {
     width:865px;
  }
}

@media screen and (max-width: 1024px) {
	#bigimg{
		max-width:865px;
	}
}

@media screen and (max-width: 875px) {
  .container
  {
     width:695px;
     grid-template-columns:1fr 1fr 1fr 1fr;
  }
  #menu
  {
     width:695px;
  }
	#bigimg{
		max-width:695px;
	}
}

@media screen and (max-width: 700px) {
  .container
  {
     width:525px;
     grid-template-columns:1fr 1fr 1fr;
  }
  #menu
  {
     width:525px;
  }

	li{
		margin: 0px 8px 0px 8px;
	}
	#bigimg{
		max-width:525px;
	}
}

@media screen and (max-width: 535px) {
  .container
  {
     width:355px;
     grid-template-columns:1fr 1fr;
  }
  #menu
  {
     width:355px;
	 text-align:center;
  }

	li{
		margin: 0px 8px 0px 8px;
	}
	
	#logo{
		 position: relative;
			top: 0px;
			left: 0px;
			margin: 0px 0px 20px 0px;
	}
	#bigimg{
		max-width:425px;
	}
	.contact2{
		width:355px;
	}
}
